
<%= turbo_frame_tag dom_id(@chore) do %>
<ul>
    <li><%= @chore.title %></li>
    <li><%= link_to 'Edit this chore', edit_chore_path(@chore) %></li>
</ul>
<% end %>

<%= link_to "All Chores", chore_index_path %>
